.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;

  .left-column-wrapper {
    width: 15%;

    img {
      width: 150px;
      height: 90px;
      margin-top: 25px;
    }
  }

  .center-column-wrapper {
    width: 40%;
    height: 100%;
    padding-bottom: 15px;

    .nav-links-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      gap: 5px;
    }
  }

  .right-column-wrapper {
    width: 15%;
  }
}
